/****** Script for SelectTopNRows command from SSMS  ******/



IF EXISTS(SELECT * FROM sys.tables WHERE name = N'tmp__VW_VIVO_CARTEIRA')
BEGIN
	DROP TABLE [TRANSITO].[tmp__VW_VIVO_CARTEIRA]
END

IF NOT EXISTS(SELECT * FROM sys.schemas WHERE name = N'TRANSITO')
BEGIN
	EXEC(N'CREATE SCHEMA [TRANSITO]')
END

SELECT [INTERCOMPANY]
      ,[GRUPO_ANALISE]
      ,[MAIOR_01_COBRAVEL]
      ,[GRUPO]
      ,[FORNECEDOR]
      ,[SEGMENTO_ARRECADACAO]
      ,[SEGMENTO_GERENCIA]
      ,[NV_FX_ARRECADA]
      ,[NV_FX_FECHO]
      ,[NV_FX_FORNECE]
      ,[ANALISE_CONTA]
      ,[DEFINE_LD]
      ,[CARTEIRA]
      ,[ANALISTA_TLF_VIVO]
      ,[FAIXA]
      ,[CONTA]
      ,[CNPJ]
      ,[CLASSE]
      ,[NOME]
      ,[DT_VENC]
      ,[DT_PROCESS]
      ,[ANOMES]
      ,[DT_CADASTRO]
      ,[DA]
      ,[STATUS]
      ,[UF]
      ,[RAIZ]
      ,[RAIZ_GRUPO]
      ,[REGIONAL]
      ,[DIAS_POST]
      ,[DIAS]
      ,[MC]
      ,[MC2]
      ,[CONTA2]
      ,[LDS]
      ,[LD15_FIXA]
      ,[LD15_MOVEL]
      ,[TDATA]
      ,[VIVO_MOVEL]
      ,[SALDO_TOTAL]
      ,[SALDO_FX_ENT]
      ,[SALDO_PDD]
      ,[CONTATO_GC]
      ,[GER_SENIOR]
      ,[DIRETOR]
      ,[CICLO]
      ,[FILTRO]
      ,[BYPASS]
      ,[PARCELAMENTO]
      ,[REGRA_PDD]
      ,[ID_ANALISE]
      ,[DATA_ENTRADA]
      ,[PRODUTO_ORIGEM]
      ,[DT_CORTE]
      ,[TASK_FORCE]
	  INTO [DB_SISCOB].[TRANSITO].[tmp__VW_VIVO_CARTEIRA]
  FROM [DB_SISCOB].[APP_EXCEL].[VW_VIVO_CARTEIRA]