/****** Script for SelectTopNRows command from SSMS  ******/
SELECT COUNT(*)
  FROM [DB_SISCOB].[TRANSITO].[TMP_VALIDA_MOVEL_CORRIGIR_FORNECEDOR] TMP
  LEFT JOIN [DB_SISCOB].[CONSOLIDADO].[TB_CONSOLIDADO] C ON C.[CONTA] = TMP.[CONTA] AND C.[DT_PROCESS] = TMP.[DT_PROCESS]


update 
	set 
		fornecedor = null

	FROM [DB_SISCOB].[CONSOLIDADO].[TB_CONSOLIDADO] C 
	RIGHT JOIN [DB_SISCOB].[TRANSITO].[TMP_VALIDA_MOVEL_CORRIGIR_FORNECEDOR] TMP ON TMP.CONTA = C.CONTA AND TMP.DT_PROCESS = C.DT_PROCESS
	where 


SELECT COUNT(*)
	FROM [DB_SISCOB].[CONSOLIDADO].[TB_CONSOLIDADO] C 
	INNER JOIN [DB_SISCOB].[TRANSITO].[TMP_VALIDA_MOVEL_CORRIGIR_FORNECEDOR] TMP 
	ON 
		TMP.CONTA = C.CONTA 
	AND 
		TMP.DT_PROCESS = C.DT_PROCESS



--update C
--	set 
--		C.fornecedor = TMP.[VIVO_CARTEIRA#FORNECEDOR]

--	FROM [DB_SISCOB].[CONSOLIDADO].[TB_CONSOLIDADO] C 
--	INNER JOIN [DB_SISCOB].[TRANSITO].[TMP_VALIDA_MOVEL_CORRIGIR_FORNECEDOR] TMP 
--	ON 
--		TMP.CONTA = C.CONTA 
--	AND 
--		TMP.DT_PROCESS = C.DT_PROCESS


update V
	set 
		V.FORNECEDOR = TMP.[VIVO_CARTEIRA#FORNECEDOR]

	FROM [DB_SISCOB].[AUXILIAR].[VW_VIVO_CARTEIRA] V 
	INNER JOIN [DB_SISCOB].[TRANSITO].[TMP_VALIDA_MOVEL_CORRIGIR_FORNECEDOR] TMP 
	ON 
		TMP.CONTA = V.CONTA 
	AND 
		TMP.DT_PROCESS = CONVERT(DATE,V.DT_PROCESS,103)


SELECT COUNT(*)
	--CONVERT(DATE,V.DT_PROCESS,103),DT_PROCESS AS TMP
	FROM [DB_SISCOB].[AUXILIAR].[VW_VIVO_CARTEIRA] V 
	INNER JOIN [DB_SISCOB].[TRANSITO].[TMP_VALIDA_MOVEL_CORRIGIR_FORNECEDOR] TMP 
	ON 
		TMP.CONTA = V.CONTA 
	AND 
		TMP.DT_PROCESS = CONVERT(DATE,V.DT_PROCESS,103)



-- CONVERT(DATE,V.DT_PROCESS,103)


SELECT TOP 10 DT_PROCESS, * FROM [DB_SISCOB].[TRANSITO].[TMP_VALIDA_MOVEL_CORRIGIR_FORNECEDOR]