USE [DB_SISCOB_HML]
GO
/****** Object:  StoredProcedure [FILE_CAR].[PRC_START_PROCESSO_FINAL_IMPORTACAO_CAR]    Script Date: 2/9/2017 6:10:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [FILE_CAR].[PRC_START_PROCESSO_FINAL_IMPORTACAO_CAR]
	
AS
BEGIN
	SET NOCOUNT ON;

    DECLARE 
			 @PROCESSO_CAR	VARCHAR(100)
			,@NOME_CAR		VARCHAR(100)
			,@DIA_CAR		CHAR(2)
			,@ID			BIGINT
			,@STATUS		BIT
	
	SET @PROCESSO_CAR = (SELECT TOP 1 [PROCESSO_CAR] FROM [ADM].[TB_APP_CONTROLE_CAR] ORDER BY ID DESC)
	SET @NOME_CAR	  = (SELECT TOP 1 [NOME_ARQUIVO] FROM [ADM].[TB_APP_CONTROLE_CAR] ORDER BY ID DESC)
	SET @DIA_CAR	  = (SELECT TOP 1 [CAR_PERIODO]  FROM [ADM].[TB_APP_CONTROLE_CAR] ORDER BY ID DESC)
	SET @ID			  = (SELECT TOP 1 [ID]			 FROM [ADM].[TB_APP_CONTROLE_CAR] ORDER BY ID DESC)
	SET @STATUS		  = (SELECT TOP 1 [STATUS]		 FROM [ADM].[TB_APP_CONTROLE_CAR] ORDER BY ID DESC)


	IF @PROCESSO_CAR = 'AGUARDANDO_VALIDACAO_MIS' AND @STATUS = 0
	BEGIN
		
		UPDATE [ADM].[TB_APP_CONTROLE_CAR] SET 
											    STATUS = 1
											   ,DT_PROCESSAMENTO_FIM = GETDATE()
		WHERE ID = @ID

		INSERT INTO [ADM].[TB_APP_CONTROLE_CAR]
		(
			 [PROCESSO_CAR]
			,[NOME_ARQUIVO]
			,[CAR_PERIODO]
			,[STATUS]
			,[DT_PROCESSAMENTO]
		)

		VALUES
		(
			 'ATUALIZACAO_DADOS_CAR'
			,'ATUALIZACAO_DADOS_CAR'
			,@DIA_CAR
			,0
			,GETDATE()
		)

		EXEC [FILE_CAR].[PRC_006_A_ALTERA_STATUS_CAR] @DIA_CAR;
		EXEC [FILE_CAR].[PRC_007_CONSOLIDA_FIXA] @DIA_CAR;
		EXEC [FILE_CAR].[PRC_008_CONSOLIDA_MOVEL] @DIA_CAR;
		EXEC [FILE_CAR].[PRC_009_GUARDA_VALORES_DADOS];
		EXEC [FILE_CAR].[PRC_010_UPDATE_CONSUMO] @DIA_CAR;
		EXEC [FILE_CAR].[PRC_011_UPDATE_RESUMO_ATUAL];
		EXEC [FILE_CAR].[PRC_012_UPDATE_CARTEIRAS];
		EXEC [FILE_CAR].[PRC_013_UPDATE_AUXILIARES];
		EXEC [FILE_CAR].[PRC_014_ATUALIZAR_CARTEIRA_MOVEL];
		EXEC [FILE_CAR].[PRC_015_FINALIZA_SUBIDA_CAR];



	END

END
