/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [Origem]
      ,[Empresa]
      ,[Dt_Insercao]
      ,[Divisao]
      ,[Raiz]
      ,[Cliente]
      ,[Emissao]
      ,[Vcto]
      ,[NF]
      ,[Aging]
      ,[Aging1]
      ,[Valor_Fat]
      ,[CSLL_1]
      ,[PIS_0,65]
      ,[Cofins_3]
      ,[IR_1,5]
      ,[INSS_11]
      ,[Despesa_Financeira]
      ,[Outros_Desc]
      ,[Arrecadado]
      ,[Pago_Maior]
      ,[Variacao_Cambial]
      ,[Dt_Pagto]
      ,[Canc]
      ,[Dt_Canc]
      ,[Perdao_divida]
      ,[Data_perdao_divida]
      ,[CAR]
      ,[OBS]
      ,[Dt_Baixa]
      ,[Doc_Contabil]
      ,[OBS_Smart]
      ,[Produto]
      ,[Num_Invoice]
      ,[Valor_invoce_dolar]
      ,[Conta_Contabil]
      ,[Atualizado]
      ,[AtualizadoC]
  FROM alter table [DB_SISCOB_HML].[TRANSITO_PAGAMENTO_AJUSTE].[TMP_CAR_MANUAL_v06] add [Valor_Fat_2] varchar(255) 


  update [DB_SISCOB_HML].[TRANSITO_PAGAMENTO_AJUSTE].[TMP_CAR_MANUAL_v06] 
  set [Valor_Fat_2] = replace([Valor_Fat],',','.')