USE [DB_SISCOB_HML]
GO
/****** Object:  StoredProcedure [TRANSITO_PAGAMENTO_AJUSTE].[_OK_PRC_ATLYS_AJUSTES_E_PAGAMENTOS]    Script Date: 3/9/2017 3:38:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- ==========================================================================
-- Author:		Ailton
-- Create date: 2017-03-01
-- Obs> : 
-- 
-- ==========================================================================

ALTER PROCEDURE [TRANSITO_PAGAMENTO_AJUSTE].[_OK_PRC_ATLYS_AJUSTES_E_PAGAMENTOS] 

AS
BEGIN

/****** TRATAMENTO DE PAGAMENTO E AJUSTE ******/

-- #########################
-- AJUSTES
-- #########################

-- REPLICATE('0',10-LEN(AJUSTE.[nf]))

DROP TABLE [DB_SISCOB_HML].[TRANSITO_PAGAMENTO_AJUSTE].[ATLYS_AJUSTES]

	SELECT 
		REPLICATE('0',10-LEN(AJ_ATLYS.CONTA)) + AJ_ATLYS.CONTA AS CONTA
		, MAX(AJ_ATLYS.DATA) AS DT_CORTE
		, Sum(AJ_ATLYS.Valor) AS VALOR_AJUSTE
		, CONCAT(REPLICATE('0',10-LEN(AJ_ATLYS.CONTA)) , AJ_ATLYS.CONTA, CONVERT(DATE,AJ_ATLYS.[PROCESS])) AS CHAVE
		INTO [DB_SISCOB_HML].[TRANSITO_PAGAMENTO_AJUSTE].[ATLYS_AJUSTES]
	FROM
		[DB_SISCOB_HML].[TRANSITO_PAGAMENTO_AJUSTE].[tmp_ATLYS_AJUSTES] AJ_ATLYS
	GROUP BY 
		AJ_ATLYS.CONTA
		,AJ_ATLYS.[PROCESS]

-- #########################
-- PAGAMENTOS
-- #########################
				
DROP TABLE [DB_SISCOB_HML].[TRANSITO_PAGAMENTO_AJUSTE].[ATLYS_PAGAMENTOS]

	SELECT  
		REPLICATE('0',10-LEN(PG_ATLYS.CONTA)) + PG_ATLYS.CONTA AS CONTA
		, MAX(PG_ATLYS.DT_ATRIBUICAO) AS DT_CORTE
		, SUM(PG_ATLYS.VALOR) AS VALOR_PAGTO
		, CONCAT(REPLICATE('0',10-LEN(PG_ATLYS.CONTA)) , PG_ATLYS.CONTA, CONVERT(DATE,PG_ATLYS.DT_CORTE)) AS CHAVE
		--, CONCAT(PG_ATLYS.CONTA, CONVERT(DATE,PG_ATLYS.DT_CORTE)) AS CHAVE
		
		INTO [DB_SISCOB_HML].[TRANSITO_PAGAMENTO_AJUSTE].[ATLYS_PAGAMENTOS]
	FROM 
		[DB_SISCOB_HML].[TRANSITO_PAGAMENTO_AJUSTE].[tmp_ATLYS_PAGAMENTOS] PG_ATLYS
	GROUP BY 
		PG_ATLYS.CONTA
		,PG_ATLYS.DT_CORTE	
	

/****** AJUNÇÃO DE DADOS DE PAGAMENTO E AJUSTE ******/

-- #########################
-- UNIÃO DE DADOS
-- #########################
	
SELECT 
		U.CONTA
		,U.DT_CORTE
		,ISNULL(AJ.VALOR_AJUSTE,0)    AS VALOR_AJUSTE
		,ISNULL(PGTO.VALOR_PAGTO,0)   AS VALOR_PAGTO
		,GETDATE() as DT_IMPORTACAO
		,CASE 
			  WHEN 
					AJ.DT_CORTE IS NULL THEN PGTO.DT_CORTE
			  WHEN  
					PGTO.DT_CORTE IS NULL THEN AJ.DT_CORTE
			  WHEN
					AJ.DT_CORTE < PGTO.DT_CORTE THEN PGTO.DT_CORTE 
			  ELSE 
					AJ.DT_CORTE 
		 END AS DT_CORTE
		 , 4 AS TIPO
		 ,CASE 
			WHEN  ISNULL(AJ.VALOR_AJUSTE,0) > 0 THEN AJ.CHAVE
			ELSE  PGTO.CHAVE
			END AS CHAVE

	FROM

	(


		SELECT  distinct
				PG_ATLYS.CONTA
				, PG_ATLYS.DT_CORTE
				, PG_ATLYS.CHAVE
			FROM 
				[DB_SISCOB_HML].[TRANSITO_PAGAMENTO_AJUSTE].[ATLYS_PAGAMENTOS] PG_ATLYS
					
		UNION 

			SELECT distinct
				AJ_ATLYS.CONTA 
				, AJ_ATLYS.DT_CORTE
				, AJ_ATLYS.CHAVE
			FROM
				[DB_SISCOB_HML].[TRANSITO_PAGAMENTO_AJUSTE].[ATLYS_AJUSTES] AJ_ATLYS
	
	) U 

	LEFT JOIN
		  ( 
			SELECT
				AJ_ATLYS.CONTA
				, AJ_ATLYS.DT_CORTE
				, AJ_ATLYS.VALOR_AJUSTE
				, AJ_ATLYS.CHAVE
				
			FROM 
				[DB_SISCOB_HML].[TRANSITO_PAGAMENTO_AJUSTE].[ATLYS_AJUSTES] AJ_ATLYS	WHERE AJ_ATLYS.VALOR_AJUSTE > 0	  
		  ) AJ ON U.CHAVE = AJ.CHAVE

	LEFT JOIN 
		  (
			SELECT
				PG_ATLYS.CONTA
				, PG_ATLYS.DT_CORTE
				, PG_ATLYS.VALOR_PAGTO
				, PG_ATLYS.CHAVE
				
			FROM 
				[DB_SISCOB_HML].[TRANSITO_PAGAMENTO_AJUSTE].[ATLYS_PAGAMENTOS] PG_ATLYS	WHERE PG_ATLYS.VALOR_PAGTO > 0	 		  
		  ) PGTO ON PGTO.CHAVE = U.CHAVE	


END

