USE [DB_SISCOB_HML]
GO
/****** Object:  StoredProcedure [TRANSITO_PAGAMENTO_AJUSTE].[PRC_ATELECOM]    Script Date: 3/3/2017 2:50:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- ==========================================================================
-- Author:		Ailton
-- Create date: 2017-03-01
-- Obs> : 
-- 
-- ==========================================================================

ALTER PROCEDURE [TRANSITO_PAGAMENTO_AJUSTE].[PRC_ATELECOM] 

AS
BEGIN

/****** TRATAMENTO DE PAGAMENTO E AJUSTE ******/

-- ######################### --WHEN TI.ID_TIPO = 2 Then ISNULL(FI.TITULO,'') + ISNULL(FI.DTCONTA ,'') + TI.RAIZ_CPF_CNPJ
-- AJUSTES
-- #########################

DROP TABLE [DB_SISCOB_HML].[TRANSITO_PAGAMENTO_AJUSTE].[ATELECOM]

	SELECT 
		AJUSTE.NF AS CONTA
		, ISNULL(AJUSTE.DATA_CONTA,0) AS DT_CORTE

		,CASE 
				  WHEN 
						ISNULL(AJUSTE.Canc,0) > 0  THEN 0
				  ELSE 
						ISNULL(AJUSTE.VALOR_FAT,0) 
			 END AS VALOR_PAGTO
		 		--, SUM(ISNULL(AJUSTE.VALOR_FAT,0)) AS VALOR_PAGTO


		, ISNULL(AJUSTE.Canc,0)  AS VALOR_AJUSTE
		, CONCAT(AJUSTE.NF, CONVERT(DATE,AJUSTE.DATA_CONTA),ISNULL(REPLACE(AJUSTE.VALOR_FAT,'.',''),'')) AS CHAVE
		INTO [DB_SISCOB_HML].[TRANSITO_PAGAMENTO_AJUSTE].[ATELECOM]
	FROM
		[DB_SISCOB_HML].[TRANSITO_PAGAMENTO_AJUSTE].[tmp_ATELECOM] AJUSTE



		--WHEN TI.ID_TIPO = 2 Then ISNULL(FI.TITULO,'') + ISNULL(FI.DTCONTA ,'') + TI.RAIZ_CPF_CNPJ

---- #########################
---- PAGAMENTOS
---- #########################
				
--DROP TABLE [DB_SISCOB_HML].[TRANSITO_PAGAMENTO_AJUSTE].[ATLYS_PAGAMENTOS]

--	SELECT  
--		PG_ATLYS.CONTA AS CONTA
--		, MAX(PG_ATLYS.DT_ATRIBUICAO) AS DT_CORTE
--		, SUM(PG_ATLYS.VALOR) AS VALOR_PAGTO
--		, CONCAT(PG_ATLYS.CONTA, CONVERT(DATE,PG_ATLYS.DT_CORTE)) AS CHAVE
		
--		INTO [DB_SISCOB_HML].[TRANSITO_PAGAMENTO_AJUSTE].[ATLYS_PAGAMENTOS]
--	FROM 
--		[DB_SISCOB_HML].[TRANSITO_PAGAMENTO_AJUSTE].[tmp_ATLYS_PAGAMENTOS] PG_ATLYS
--	GROUP BY 
--		PG_ATLYS.CONTA
--		,PG_ATLYS.DT_CORTE	
	

--/****** AJUNÇÃO DE DADOS DE PAGAMENTO E AJUSTE ******/

---- #########################
---- UNIÃO DE DADOS
---- #########################
	
--SELECT 
--		U.CONTA
--		,U.DT_CORTE
--		,ISNULL(AJ.VALOR_AJUSTE,0)    AS VALOR_AJUSTE
--		,ISNULL(PGTO.VALOR_PAGTO,0)   AS VALOR_PAGTO
--		,GETDATE() as DT_IMPORTACAO
--		,CASE 
--			  WHEN 
--					AJ.DT_CORTE IS NULL THEN PGTO.DT_CORTE
--			  WHEN  
--					PGTO.DT_CORTE IS NULL THEN AJ.DT_CORTE
--			  WHEN
--					AJ.DT_CORTE < PGTO.DT_CORTE THEN PGTO.DT_CORTE 
--			  ELSE 
--					AJ.DT_CORTE 
--		 END AS DT_CORTE
--		 , 4 AS TIPO
--	FROM

--	(


--		SELECT  distinct
--				PG_ATLYS.CONTA
--				, PG_ATLYS.DT_CORTE
--				, PG_ATLYS.CHAVE
--			FROM 
--				[DB_SISCOB_HML].[TRANSITO_PAGAMENTO_AJUSTE].[ATLYS_PAGAMENTOS] PG_ATLYS
					
--		UNION 

--			SELECT distinct
--				AJ_ATLYS.CONTA 
--				, AJ_ATLYS.DT_CORTE
--				, AJ_ATLYS.CHAVE
--			FROM
--				[DB_SISCOB_HML].[TRANSITO_PAGAMENTO_AJUSTE].[ATLYS_AJUSTES] AJ_ATLYS
	
--	) U 

--	LEFT JOIN
--		  ( 
--			SELECT
--				AJ_ATLYS.CONTA
--				, AJ_ATLYS.DT_CORTE
--				, AJ_ATLYS.VALOR_AJUSTE
--				, AJ_ATLYS.CHAVE
				
--			FROM 
--				[DB_SISCOB_HML].[TRANSITO_PAGAMENTO_AJUSTE].[ATLYS_AJUSTES] AJ_ATLYS	WHERE AJ_ATLYS.VALOR_AJUSTE > 0	  
--		  ) AJ ON U.CHAVE = AJ.CHAVE

--	LEFT JOIN 
--		  (
--			SELECT
--				PG_ATLYS.CONTA
--				, PG_ATLYS.DT_CORTE
--				, PG_ATLYS.VALOR_PAGTO
--				, PG_ATLYS.CHAVE
				
--			FROM 
--				[DB_SISCOB_HML].[TRANSITO_PAGAMENTO_AJUSTE].[ATLYS_PAGAMENTOS] PG_ATLYS	WHERE PG_ATLYS.VALOR_PAGTO > 0	 		  
--		  ) PGTO ON PGTO.CHAVE = U.CHAVE	


END

