/****** TB_CONSUMO_SISCOB  ******/

SELECT TOP 100 ID_PGTO_AJUSTE,*
FROM [DB_SISCOB_HML].[CONSOLIDADO].[TB_CONSUMO_SISCOB]

/****** TB_TIPO  ******/

SELECT *
  FROM [DB_SISCOB_HML].[AUXILIAR].[TB_TIPO]

/****** TB_PAGTO_AJUSTE  ******/

SELECT top 10 *
  FROM [DB_SISCOB_HML].[AUXILIAR].[TB_PAGTO_AJUSTE]


  --update [DB_SISCOB_HML].[AUXILIAR].[TB_PAGTO_AJUSTE]
  --set procv = CONCAT(Conta, CONVERT(DATE,dt_process)) 
  
  --select 
  -- CONCAT(Conta, CONVERT(DATE,dt_process)) as procv
  -- from  [DB_SISCOB_HML].[AUXILIAR].[TB_PAGTO_AJUSTE]

-- ############################

--WHEN TI.ID_TIPO = 4 Then ISNULL(FI.CONTA,'') + ISNULL(FI.DT_PROCESS,'') + ISNULL(FI.RECEBIVEL,'') + TI.RAIZ_CPF_CNPJ
--WHEN TI.ID_TIPO = 5 Then ISNULL(FI.[Tel],'') + ISNULL(FI.[DtConta],'') + ISNULL(FI.[VENC_ORIGINAL],'') + ISNULL(CONVERT(VARCHAR(11),CONVERT(BIGINT,TI.[NRC])),'') + TI.RAIZ_CPF_CNPJ
--WHEN TI.ID_TIPO = 9 Then ISNULL(FI.[Tel],'') + ISNULL(FI.[DtConta],'') + ISNULL(FI.[VENC_ORIGINAL],'') + ISNULL(CONVERT(VARCHAR(11),CONVERT(BIGINT,TI.[NRC])),'') + TI.RAIZ_CPF_CNPJ

--WHEN TI.ID_TIPO = 2 Then ISNULL(FI.TITULO,'') + ISNULL(FI.DTCONTA ,'') + TI.RAIZ_CPF_CNPJ


--WHEN TI.ID_TIPO = 6 Then ISNULL(FI.DOCUMENTO_SAP,'') + TI.RAIZ_CPF_CNPJ

--WHEN TI.ID_TIPO = 3 Then TI.RAIZ_CPF_CNPJ + ISNULL(FI.[NOTA_FISCAL],'') + ISNULL(FI.[DtConta],'') + ISNULL(REPLACE(FI.[SALDO_CAR],'.',''),'')

--WHEN TI.ID_TIPO = 1 Then ISNULL(FI.[Tel],'') + ISNULL(FI.[DtConta],'') + ISNULL(FI.[VENC_ORIGINAL],'') + ISNULL(CONVERT(VARCHAR(11),CONVERT(BIGINT,TI.[NRC])),'') + TI.RAIZ_CPF_CNPJ
--WHEN TI.ID_TIPO = 8 Then ISNULL(FI.DOCUMENTO_SAP,'') + TI.RAIZ_CPF_CNPJ
