/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [ID]
      ,[ID_CONSOLIDADO]
      ,[ID_VALORES_26]
      ,[ID_VALORES_30]
      ,[ID_VALORES_05]
      ,[ID_VALORES_14]
      ,[ID_VALORES_21]
      ,[ID_VALORES_25]
      ,[ID_HISTORICO_SEMANA_0]
      ,[ID_HISTORICO_SEMANA_1]
      ,[ID_HISTORICO_SEMANA_2]
      ,[ID_HISTORICO_SEMANA_3]
      ,[ID_HISTORICO_SEMANA_4]
      ,[ID_HISTORICO_SEMANA_5]
      ,[ID_ANALISE_CONTA]
      ,[ID_PGTO_AJUSTE]
      ,[ID_JURIDICO]
      ,[ID_ANALISTA]
      ,[ID_ANALISTA_TMP]
      ,[ID_HISTORICO_ATUAL]
      ,[ID_VALOR_ATUAL]
      ,[ID_STATUS_ESCALATION]
  FROM [DB_SISCOB].[CONSOLIDADO].[TB_CONSUMO_SISCOB] where ID_CONSOLIDADO = '7420818'

  update [DB_SISCOB].[CONSOLIDADO].[TB_CONSUMO_SISCOB] set ID_HISTORICO_SEMANA_1 = '42102489', ID_HISTORICO_ATUAL = '42102489' where ID_CONSOLIDADO = '7420818'