/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [Origem]
      ,[Empresa]
      ,[Conta_Contábil]
      ,[Dt_Insercao]
      ,[Raiz]
      ,[Cliente]
      ,[Emissao]
      ,[Data_Conta]
      ,[Vcto]
      ,[NF]
      ,[Produto]
      ,[Aging]
      ,[Valor_Fat]
      ,[CSLL_1]
      ,[PIS_0_65]
      ,[Cofins_3]
      ,[IR_1_5]
      ,[INSS_11]
      ,[Outros_Desc]
      ,[Arrecadado]
      ,[Pago_Maior]
      ,[Dt_Pagto]
      ,[Canc]
      ,[Dt_Canc]
      ,[CAR]
      ,[OBS]
      ,[Dt_Baixa]
      ,[Doc Contabil]
      ,[OBS_NF]
  FROM [DB_SISCOB_HML].[TRANSITO_PAGAMENTO_AJUSTE].[tmp_CAR_MANUAL]
  WHERE NF ='303'