/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [ID]
      ,[ID_CONSOLIDADO]
      ,[ID_SEMANA]
      ,[ID_FOCO_FEEDBACK]
      ,[ID_TIPO_PAGAMENTO]
      ,[ID_ANALISTA]
      ,[TIME_STAMP]
      ,[DT_FOLLOW]
      ,[DT_CONTATO]
      ,[DT_ENCERRAMENTO]
      ,[DT_ABERTURA]
      ,[DT_AJUSTE]
      ,[DT_PAGAMENTO]
      ,[VALOR_PAGO]
      ,[VALOR_AJUSTE]
      ,[LOTE]
      ,[GESTAO_CONTA]
      ,[RESPONSAVEL]
      ,[RESUMO_EXECUTIVO]
      ,[HISTORICO_DETALHADO]
      ,[STATUS]
      ,[RE_PROBLEMA]
      ,[RE_ACAO]
      ,[HD_ACUMULADO]
      ,[CBPM]
      ,[ID_PORTAL_DEMANDA]
      ,[NUMERO_BOLETO]
      ,[DATA_EMISSAO_BOLETO]
  FROM [DB_SISCOB].[CONSOLIDADO].[TB_HISTORICO]


  SELECT 
			MAX(ID)				AS ID
			,ID_CONSOLIDADO	
  INTO #TMP
  FROM
		 [DB_SISCOB].[CONSOLIDADO].[TB_HISTORICO]
  GROUP BY
			ID_CONSOLIDADO










   UPDATE H SET H.HD_ACUMULADO = A.HD

   
   FROM
					[DB_SISCOB].[CONSOLIDADO].[TB_HISTORICO] H
		INNER JOIN	#TMP										ON H.ID = #TMP.ID
		INNER JOIN	[DB_SISCOB].[TRANSITO].[HISTORICO_ACUMULADO] A ON A.ID_CONSOLIDADO = H.ID_CONSOLIDADO	