/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 t.[ID]
      ,[ID_IMPORT_MOVEL]
      ,[PROCV]
      ,[ID_FX_FECHO]
      ,[ID_FX_FORNECE]
      ,[ID_FX_ARRECADA]
      ,[GRUPO_ANALISE]
      ,[INTERCOMPANY]
      ,[QTD_REG_AGRUPADO]
      ,t.[SALDO_CAR]
      ,t.[SALDO_PDD]
      ,t.[SALDO_FX_ENT]
      ,t.[AGING_ATUAL]
      ,t.[AGING_ORIGINAL]
      ,t.[FAIXA_ATUAL]
      ,t.[FAIXA_ORIGINAL]
      ,t.[VENC_ATUAL]
      ,t.[VENC_ORIGINAL]
      ,t.[AGING_CORTE]
      ,t.[FAIXA_CORTE]
      ,[MC]
      ,[MC2]
      ,[DIAS_POST]
      ,[MAIOR_01_COBRAVEL]
      ,[SEGMENTO_GERENCIA]
      ,[ANOMES]
      ,[ANALISE_CONTA]
      ,[CARTEIRA]
      ,[FORNECEDOR]
      ,[ANALISTA_TLF_VIVO]
      ,[OK]
      ,[RAIZ_GRUPO]
      ,t.[RAIZ_CPF_CNPJ]
      ,[NOME_GRUPO]
      ,[RAZAO_SOCIAL]
      ,[TASK_FORCE]
      ,[GN]
      ,[GV]
      ,[DIRETOR]
      ,[SITUACAO_SERVICO]
      ,[CHECK_CAR]
  FROM [DB_SISCOB].[FILE_CAR].[TB_TRATAMENTO_MOVEL_WEB] t
  inner join [DB_SISCOB].[FILE_CAR].[TB_CAR_MOVEL_IMPORT] i on i.id=t.ID_IMPORT_MOVEL
  where i.CONTA='0122390681' and t.ok=1
  