--truncate table [DB_SISCOB].[AUXILIAR].[TB_ANALISTA_CARTEIRA_FIXA]
--truncate table [DB_SISCOB].[AUXILIAR].[TB_ANALISTA_CARTEIRA_MOVEL]

update ORIG
set 
	orig.ID_ANALISTA = bkp.ID_ANALISTA
	,orig.ID_ANALISTA_TMP = bkp.ID_ANALISTA_TMP
	,orig.DT_ATUALIZACAO = GETDATE()
	,orig.ID_USER_ATUALIZACAO = 140

FROM [DB_SISCOB].[AUXILIAR].[TB_ANALISTA_CARTEIRA_FIXA] ORIG
INNER JOIN [DB_SISCOB].[BKP].[2017_02_TB_ANALISTA_CARTEIRA_FIXA] BKP ON BKP.RAIZ = ORIG.RAIZ 


update ORIG
set 
	orig.ID_ANALISTA = bkp.ID_ANALISTA
	,orig.ID_ANALISTA_TMP = bkp.ID_ANALISTA_TMP
	,orig.DT_ATUALIZACAO = GETDATE()
	,orig.ID_USER_ATUALIZACAO = 140

FROM [DB_SISCOB].[AUXILIAR].[TB_ANALISTA_CARTEIRA_MOVEL] ORIG
INNER JOIN [DB_SISCOB].[BKP].[2017_02_TB_ANALISTA_CARTEIRA_MOVEL] BKP ON BKP.RAIZ = ORIG.RAIZ 