/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [ID]
      ,[ID_IMPORT_FIXA]
      ,[ID_FX_FECHO]
      ,[ID_FX_ARRECADA]
      ,[SPEEDY_PROVIDER]
      ,[LOCAL]
      ,[TERMINAL]
      ,[DV]
      ,[ID_TIPO]
      ,[PROCV]
      ,[NUMERO_LOTE]
      ,[DIA_VENCIMENTO]
      ,[VALOR_LOTE]
      ,[INTRAGOV]
      ,[INTERCOMPANY]
      ,[QTD_REG_AGRUPADO]
      ,[SALDO_CAR]
      ,[SALDO_PDD]
      ,[SALDO_FX_ENT]
      ,[SALDO_TERCEIROS]
      ,[SALDO_WO]
      ,[OK]
      ,[RAIZ_GRUPO]
      ,[NOME_GRUPO]
      ,[RAZAO_SOCIAL]
      ,[RAIZ_CPF_CNPJ]
      ,[TASK_FORCE]
      ,[GN]
      ,[GV]
      ,[DIRETOR]
      ,[NRC]
      ,[N_DOC_DE_PARA_ATLYS]
      ,[SITUACAO_SERVICO]
      ,[CHECK_CAR]
      ,[FORNECEDOR]
      ,[SEG_DESCR]
  FROM [DB_SISCOB].[BKP].[20170313_1833_TB_TRATAMENTO_FIXA_WEB]

select sum(saldo_car) as total, count(*) as qtd
  FROM [DB_SISCOB].[BKP].[20170313_1833_TB_TRATAMENTO_FIXA_WEB] where ok=1