/****** FORÇAR FORNECEDOR PARA ACCENTURE1   ******/

UPDATE [DB_SISCOB].[FILE_CAR].[TB_TRATAMENTO_MOVEL_WEB]
SET FORNECEDOR = 'ACCENTURE1'
WHERE RAIZ_GRUPO IN (
'05426567'
,'16445850'
,'4002558157'
,'4003000484'
,'4046439683'
,'4073410326'
)
AND OK = 1

/****** FORÇAR FORNECEDOR PARA ACCENTURE   ******/
UPDATE [DB_SISCOB].[FILE_CAR].[TB_TRATAMENTO_MOVEL_WEB]
SET FORNECEDOR = 'ACCENTURE'
WHERE RAIZ_GRUPO IN (
		'4000073957'
		)
	AND OK = 1


/****** FORÇAR FORNECEDOR - VIVO_CARTEIRA  ******/

--SELECT v.*
UPDATE v set v.FORNECEDOR = null
FROM [DB_SISCOB].[AUXILIAR].[VW_VIVO_CARTEIRA] v
WHERE v.CONTA IN (
'2040503421'
,'0111164749'
,'0227388563'
,'0287959939'
,'2043925883'
,'0286699784'
)

/****** FORÇAR FORNECEDOR - TRATAMENTO_MOVEL_WEB  ******/

--SELECT count(*)
UPDATE t set t.FORNECEDOR = null
FROM [DB_SISCOB].[FILE_CAR].[TB_TRATAMENTO_MOVEL_WEB] t
inner join [DB_SISCOB].[FILE_CAR].[TB_CAR_MOVEL_IMPORT] c on t.ID_IMPORT_MOVEL=c.ID
WHERE c.CONTA IN (
'2040503421'
,'0111164749'
,'0227388563'
,'0287959939'
,'2043925883'
,'0286699784'
)
AND OK = 1
