/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [ID]
  ,[PROCESSO_CAR]
  ,[NOME_ARQUIVO]
  ,[CAR_PERIODO]
  ,[STATUS]
  ,[DT_PROCESSAMENTO]
  ,[DT_PROCESSAMENTO_FIM]
FROM [DB_SISCOB].[ADM].[TB_APP_CONTROLE_CAR]

insert into [DB_SISCOB].[ADM].[TB_APP_CONTROLE_CAR]
(
[PROCESSO_CAR]
,[NOME_ARQUIVO]
,[CAR_PERIODO]
,[STATUS]
,[DT_PROCESSAMENTO]
)
values(
'DESCOMPACTACAO_CAR'
,'PROCESSAMENTO_20161231.7Z'
,'31'
,0
,GETDATE()
)