
select count(*),'nao'  FROM [DB_SISCOB].[APP_EXCEL].[VW_RELATORIO_WEB_MIS_VPE_FIXA_NAO]
go
select count(*),'sim'  FROM [DB_SISCOB].[APP_EXCEL].[VW_RELATORIO_WEB_MIS_VPE_FIXA_SIM]
go
select count(*),'fixa_tudo'  FROM [DB_SISCOB].[APP_EXCEL].[VW_RELATORIO_WEB_MIS_VPK_FIXA_TUDO]
go
select count(*),'movel_tudo'  FROM [DB_SISCOB].[APP_EXCEL].[VW_RELATORIO_WEB_MIS_MOVEL_TUDO]
go



select top 10 * FROM [DB_SISCOB].[APP_EXCEL].[VW_RELATORIO_WEB_MIS_VPE_FIXA_NAO]


select TOP 10 * FROM [DB_SISCOB].[APP_EXCEL].[VW_RELATORIO_WEB_MIS_VPE_FIXA_SIM]