--ALTER TABLE [DB_SISCOB].[ADM].[TB_APP_CONTROLE] ALTER COLUMN [DESCRICAO_02] VARCHAR(100) NULL
--delete FROM [DB_SISCOB].[ADM].[TB_APP_CONTROLE] where id = 118

SELECT TOP 1 [NM_ARQUIVO],[DIRETORIO],[QUERY_RESUMO] FROM [DB_SISCOB].[APP_WEB].[TBL_ARQUIVOS_TRANSITO_ACORDOS]

SELECT TOP 1 [NM_ARQUIVO],[DIRETORIO],[QUERY_RESUMO] FROM [DB_SISCOB].[APP_WEB].[TBL_ARQUIVOS_TRANSITO_SEGMENTO] WHERE [ID_ANALISTA] = 1 ORDER BY ID DESC


/****** ADM - CONTROLE  ******/
SELECT [ID]
    ,[TIPO]
    ,[DESCRICAO]
    ,[DESCRICAO_02]
	,[DESCRICAO_03]
FROM [DB_SISCOB].[ADM].[TB_APP_CONTROLE] 
--WHERE [TIPO] LIKE 'ACORDO_%'
order by [ID] DESC

--delete from  [DB_SISCOB].[ADM].[TB_APP_CONTROLE] where id = 129


---- ############################
---- EXPORT_SEGMENTO
---- ############################

	update [DB_SISCOB].[ADM].[TB_APP_CONTROLE]
		set [DESCRICAO_02]='exportSegmento.exe'
		where id=122;


	INSERT INTO [DB_SISCOB].[ADM].[TB_APP_CONTROLE] 
				(
				[TIPO]
				,[DESCRICAO]
				,[DESCRICAO_02]
				)
	--SELECT 
	--'EXPORT_SEGMENTO_APP' AS TIPO
	--,'\\172.16.0.11\siscob\SEGMENTO\' AS CAMINHO
	--,'exportMIS.exe' as 'OBS'
	--UNION
	--SELECT 
	--'EXPORT_SEGMENTO_DOWNLOAD' AS TIPO --ACORDO_DOWNLOAD
	--,'\\172.16.0.11\siscob\SEGMENTO/' AS CAMINHO
	--,'' as 'OBS'
	--UNION
	--SELECT 
	--'EXPORT_SEGMENTO_DOWNLOAD' AS TIPO --ACORDO_DOWNLOAD
	--,'c:\tmp\' AS CAMINHO
	--,'' as 'OBS'
	--UNION
	--SELECT 
	--'EXPORT_SEGMENTO_DOWNLOAD' AS TIPO --ACORDO_DOWNLOAD
	--,replace('\\172.16.0.11\siscob\SEGMENTO\','\','/') AS CAMINHO
	--,'' as 'OBS'
  

--SELECT TOP 1 [DESCRICAO]+[DESCRICAO_02] AS 'FILE_APP' FROM [DB_SISCOB].[ADM].[TB_APP_CONTROLE] WHERE [TIPO] = 'ACORDO_APP'

  UPDATE [DB_SISCOB].[ADM].[TB_APP_CONTROLE]
	SET [DESCRICAO] = '\\172.16.0.11\siscob\SEGMENTO\' -- replace('\\172.16.0.11\siscob\SEGMENTO\','\','/') 
	WHERE ID=126


---- ############################
---- SUBIDA FILE_CAR
---- ############################

	INSERT INTO [DB_SISCOB].[ADM].[TB_APP_CONTROLE] 
				(
				[TIPO]
				,[DESCRICAO]
				,[DESCRICAO_02]
				)
	SELECT 
	'SUBIDA__FILE_CAR_26' AS TIPO
	,'DB_SISCOB - MIS_VIVO_CARTEIRA' AS JOB
	,'26' as 'PERIODO';

	update [DB_SISCOB].[ADM].[TB_APP_CONTROLE]
		set 
			[DESCRICAO_03] = 'RELATORIO PARA ENVIO A TELEFONICA'
			--,[DESCRICAO_02] = 'DB_SISCOB - MIS_VIVO_CARTEIRA'
		where id=115


---- ############################
---- LIMPAR DIRETORIOS
---- ############################

	--INSERT INTO [ADM].[TB_APP_CONTROLE] 
	--			([TIPO]
	--			,[DESCRICAO]
	--			,[DESCRICAO_02]
	--			,[DESCRICAO_03])
	--SELECT 
	--'LIMPAR_DIRETORIOS' AS TIPO
	--,'\\172.16.0.11\siscob\ACORDO\' AS DIRETORIO
	--,'*.*' as 'NOME OU TIPO DE ARQUIVO'
	--,'0' as 'TEMPO DE PERMANENCIA';

--	SELECT 
--	[TIPO]
--	,[DESCRICAO] AS DIRETORIO
--	,[DESCRICAO_02] as 'NOME OU TIPO DE ARQUIVO'
--	,[DESCRICAO_03] as 'TEMPO DE PERMANENCIA'
--		FROM [DB_SISCOB].[ADM].[TB_APP_CONTROLE]  WHERE [TIPO] = 'LIMPAR_DIRETORIOS';


-- ############################
-- AUXILIARES
-- ############################
--SELECT TOP 1 [DESCRICAO] AS 'REPORT_EMAIL' FROM [DB_SISCOB].[ADM].[TB_APP_CONTROLE] WHERE [TIPO] = 'CARTEIRA_CONSOLIDADA_EMAIL' ORDER BY [ID] DESC

	INSERT INTO [ADM].[TB_APP_CONTROLE] 
			   ([TIPO]
			   ,[DESCRICAO]
			   ,[DESCRICAO_02])
	SELECT 
	'CARTEIRA_VPG_EMAIL' AS TIPO
	,(SELECT DESCRICAO FROM [ADM].[TB_APP_CONTROLE] WHERE [TIPO] = 'ANALISE_CONTA_EMAIL') AS EMAIL
	,'[G-CA$H] - [CONCLUIDO] - CARGA DE DADOS AUXILIAR CONCLUIDO >>> CARTEIRA VPG <<<' as 'subject'

	-- [G-CA$H] - [CONCLUIDO] - MIS VPG FIXA

--SELECT TOP 1 [DESCRICAO] AS 'FILE_PATH' FROM [DB_SISCOB].[ADM].[TB_APP_CONTROLE] WHERE [TIPO] = 'CARTEIRA_CONSOLIDADA' ORDER BY [ID] DESC
--SELECT TOP 1 [DESCRICAO_02] AS 'FILE_NAME' FROM [DB_SISCOB].[ADM].[TB_APP_CONTROLE] WHERE [TIPO] = 'CARTEIRA_CONSOLIDADA' ORDER BY [ID] DESC

	INSERT INTO [ADM].[TB_APP_CONTROLE]
			   ([TIPO]
			   ,[DESCRICAO]
			   ,[DESCRICAO_02])
	SELECT 
	'CARTEIRA_VPG' AS TIPO
	,(SELECT DESCRICAO FROM [ADM].[TB_APP_CONTROLE] WHERE [TIPO] = 'ANALISE_CONTA') AS FILE_PATH
	,'CARTEIRA_VPG.xlsx' AS 'FILE_NAME'


	--INSERT INTO [ADM].[TB_APP_CONTROLE]
	--		   (
	--		   [TIPO]
	--		   ,[DESCRICAO]
	--		   ,[DESCRICAO_02]
	--		   )
	--		   SELECT 
	--		   'CENARIO_FILE_MODEL_v03' AS TIPO
	--		   ,'CENARIO_MODELO_v03.xlsm' AS DESCRICAO
	--		   ,[DESCRICAO_02]
	--			FROM [ADM].[TB_APP_CONTROLE] WHERE [TIPO] = 'CENARIO_FILE_MODEL_v02'


--SELECT TOP 1 [DESCRICAO] AS 'FILE_PATH_DESTINATION' FROM [DB_SISCOB].[ADM].[TB_APP_CONTROLE] WHERE [TIPO] = 'CARTEIRA_CONSOLIDADA_DESTINO'  ORDER BY [ID] DESC


	INSERT INTO [ADM].[TB_APP_CONTROLE]
			   (
			   [TIPO]
			   ,[DESCRICAO]
			   )
	SELECT 
	'CARTEIRA_VPG_DESTINO' AS TIPO
	,(SELECT DESCRICAO FROM [ADM].[TB_APP_CONTROLE] WHERE [TIPO] = 'ANALISE_CONTA_DESTINO') AS FILE_PATH_DESTINATION




--UPDATE APP
--   SET 
--      APP.[DESCRICAO_02] = '[SISCOB] - [CONCLUIDO] - CARGA DE DADOS AUXILIAR CONCLUIDO >>> PAGTO AJUSTE <<<' 
---- SELECT * 	
--FROM [ADM].[TB_APP_CONTROLE] APP 
--WHERE APP.[ID] IN (24)


-- delete FROM [ADM].[TB_APP_CONTROLE] where id = 54

-- X-X-X-X-X-X-X-X-X-X-X-X-X-X-X-X-X-X-X-X-X-X-X-X-X-X-X-X-X-X-X-X-X-X-X-X
-- X-X-X-X-X-X-X-X-X-X-X-X-X-X-X-X-X-X-X-X-X-X-X-X-X-X-X-X-X-X-X-X-X-X-X-X
-- X-X-X-X-X-X-X-X-X-X-X-X-X-X-X-X-X-X-X-X-X-X-X-X-X-X-X-X-X-X-X-X-X-X-X-X

-- ###################################################################
-- NOVO MODELO DE ARQUIVO PARA EXPORTACAO
-- ###################################################################

-- FASE 01 - CRIAR ENTRADA PADRAO PARA O NOVO MODELO DE ARQUIVO PARA EXPORTACAO
-- MODELO USADO : CENARIO_MODELO.xlsm
-- #######

	INSERT INTO [DB_SISCOB].[ADM].[TB_APP_CONTROLE] 
	(
	[TIPO]
	,[DESCRICAO]
	,[DESCRICAO_02]
	)
	SELECT [TIPO]
		,[DESCRICAO]
		,[DESCRICAO_02]
	FROM [DB_SISCOB].[ADM].[TB_APP_CONTROLE] WHERE [ID] IN (6,9,12)


-- FASE 02 - ATUALIZAR NOVOS REGISTROS PARA O NOVO ARQUIVO PARA EXPORTACAO
-- NOVO MODELO : ACORDO_MODELO.xlsm
-- #######

	UPDATE [DB_SISCOB].[ADM].[TB_APP_CONTROLE] 
	SET 
		[TIPO] = REPLACE([TIPO],'CENARIO','ACORDO')
		,[DESCRICAO] = REPLACE([DESCRICAO],'CENARIO','ACORDO')
		,[DESCRICAO_02] = REPLACE([DESCRICAO_02],'CENARIO','ACORDO')
	WHERE [ID] IN (58,59,60)


		UPDATE [DB_SISCOB].[ADM].[TB_APP_CONTROLE] 
		set [DESCRICAO] = REPLACE([DESCRICAO],'/','\')
		WHERE [ID] IN (63)


INSERT INTO [DB_SISCOB].[ADM].[TB_APP_CONTROLE] 
	(
	[TIPO]
	,[DESCRICAO]
	,[DESCRICAO_02]
	)
	SELECT TOP 1 'ACORDO_APP'
		,(SELECT [DESCRICAO] FROM [DB_SISCOB].[ADM].[TB_APP_CONTROLE] WHERE [ID] IN (59))
		,'exportAcordo.exe'
	FROM [DB_SISCOB].[ADM].[TB_APP_CONTROLE]


--INSERT INTO [DB_SISCOB].[ADM].[TB_APP_CONTROLE] 
--	(
--	[TIPO]
--	,[DESCRICAO]
--	,[DESCRICAO_02]
--	)
--	SELECT TOP 1 'ACORDO_FILE_MODEL_PATH'
--		,'\\172.16.0.6\e\sftp_files\FTP_User\SISCOB\fileModel\'
--		,null
--	union
--	SELECT TOP 1 'ACORDO_DOWNLOAD'
--		,'\\172.16.0.11\siscob\ACORDO\'
--		,null
--	union
--	SELECT TOP 1 'ACORDO_FILE_MODEL'
--		,'ACORDO_MODELO.xlsm'
--		,null
--	union
--	SELECT TOP 1 'ACORDO_APP'
--		,'\\172.16.0.11\siscob\ACORDO\'
--		,'exportAcordo.exe'