USE [DB_SISCOB]
GO


--DECLARE @ANALISTA AS VARCHAR(50); SET @ANALISTA = 'angela';SELECT * FROM [DB_SISCOB].[APP_WEB].[TBL_USUARIOS] WHERE FNAME LIKE '%'+ @ANALISTA +'%';
DECLARE @ANALISTA AS VARCHAR(50); SET @ANALISTA = 'angela.da.s.santos';
DECLARE @ID_USER AS VARCHAR(50); SET @ID_USER = (SELECT ID_USER FROM [DB_SISCOB].[APP_WEB].[TBL_USUARIOS] WHERE EID LIKE '%'+ @ANALISTA +'%');
print @ID_USER

DECLARE	@return_value int

EXEC	@return_value = [APP_WEB].[PRC_ACORDO_new]
		@ANALISTA = @ID_USER,
		@RAIZ_GRUPO = N'4046643466',
		@FILTRO = N' and ID_TIPO IN (1,2,4,5,7,9)'

SELECT	'Return Value' = @return_value

GO


/****** Script for SelectTopNRows command from SSMS  ******/
SELECT *
  FROM [DB_SISCOB].[APP_WEB].[TBL_ARQUIVOS_TRANSITO_ACORDOS] ORDER BY ID DESC