/****** Script for SelectTopNRows command from SSMS  ******/

--- ################################################################
-- SUBIDA DOS DADOS
--- ################################################################


	IF EXISTS(SELECT * FROM sys.tables WHERE name = N'tmp_CARTEIRA_VPG')
	BEGIN
		DROP TABLE [TRANSITO].[tmp_CARTEIRA_VPG]
	END

	CREATE TABLE [TRANSITO].[tmp_CARTEIRA_VPG] (
		[RAIZ] nvarchar(255)
		
	)

	DECLARE @FILE_PATH				VARCHAR(1000); SET @FILE_PATH				= '\\172.16.0.6\e\sftp_files\FTP_User\SISCOB\_AUXILIARES\'
	DECLARE @FILE_NAME				VARCHAR(1000); SET @FILE_NAME				= 'RAIZES_VPG.xlsx'
	DECLARE @TMP					NVARCHAR(1000); SET @TMP						= 'Excel 12.0;Database='+ @FILE_PATH + @FILE_NAME
	DECLARE @SQL VARCHAR(8000); 

	SET @SQL = '
	INSERT INTO [TRANSITO].[tmp_CARTEIRA_VPG]
				(
				[RAIZ] 
				)

	SELECT 
				[RAIZ] 
	FROM  
	OPENROWSET(''Microsoft.ACE.OLEDB.12.0'','''+ @TMP+''' , [dados$])'

	EXEC( @SQL)


--- ################################################################
-- FIXA
--- ################################################################

SELECT COUNT(*)
  FROM 
[DB_SISCOB].[FILE_CAR].[TB_TRATAMENTO_FIXA_WEB] W
JOIN [DB_SISCOB].[FILE_CAR].[TB_CAR_FIXA_IMPORT] F ON W.[ID_IMPORT_FIXA] = F.ID
INNER JOIN [DB_SISCOB].[TRANSITO].[tmp_CARTEIRA_VPG]  V ON W.RAIZ_CPF_CNPJ = V.RAIZ
WHERE F.SEG_DESCR IN ('VPG-TOP','VPG-TOP-GOV') AND W.OK=1

-- LIMPAR TABELA
UPDATE W
SET	
	W.FORNECEDOR = NULL
FROM 
	[DB_SISCOB].[FILE_CAR].[TB_TRATAMENTO_FIXA_WEB] W
	JOIN [DB_SISCOB].[FILE_CAR].[TB_CAR_FIXA_IMPORT] F ON W.[ID_IMPORT_FIXA] = F.ID
WHERE F.SEG_DESCR IN ('VPG-TOP','VPG-TOP-GOV') AND W.OK=1

-- UPDATE FIXA
	UPDATE W
	SET 
		W.FORNECEDOR = 'ACCENTURE'
	FROM 
		[DB_SISCOB].[FILE_CAR].[TB_TRATAMENTO_FIXA_WEB] W
		JOIN [DB_SISCOB].[FILE_CAR].[TB_CAR_FIXA_IMPORT] F ON W.[ID_IMPORT_FIXA] = F.ID
		INNER JOIN [DB_SISCOB].[TRANSITO].[tmp_CARTEIRA_VPG]  V ON W.RAIZ_CPF_CNPJ = V.RAIZ
	WHERE F.SEG_DESCR IN ('VPG-TOP','VPG-TOP-GOV') AND W.OK=1
	
--- ################################################################
-- MOVEL
--- ################################################################

-- LIMPAR TABELA
	UPDATE W
	SET	
		W.FORNECEDOR = NULL
	FROM 
		[DB_SISCOB].[FILE_CAR].[TB_TRATAMENTO_MOVEL_WEB] W
		--JOIN [DB_SISCOB].[FILE_CAR].[TB_CAR_MOVEL_IMPORT] F ON W.[ID_IMPORT_MOVEL] = F.ID
	WHERE W.SEGMENTO_GERENCIA IN ('TOP_PMES') AND W.OK=1

-- UPDATE FIXA
	UPDATE W
	SET 
		W.FORNECEDOR = 'ACCENTURE'
	FROM 
		[DB_SISCOB].[FILE_CAR].[TB_TRATAMENTO_MOVEL_WEB] W
		--JOIN [DB_SISCOB].[FILE_CAR].[TB_CAR_MOVEL_IMPORT] F ON W.[ID_IMPORT_MOVEL] = F.ID
		JOIN [DB_SISCOB].[TRANSITO].[tmp_CARTEIRA_VPG]  V ON W.RAIZ_CPF_CNPJ = V.RAIZ
	WHERE W.SEGMENTO_GERENCIA IN ('TOP_PMES') AND W.OK=1

-- SOMA PARA VALIDAR VALORES
	SELECT SUM(SALDO_CAR)
	FROM 
		[DB_SISCOB].[FILE_CAR].[TB_TRATAMENTO_MOVEL_WEB] W
		--JOIN [DB_SISCOB].[FILE_CAR].[TB_CAR_MOVEL_IMPORT] F ON W.[ID_IMPORT_MOVEL] = F.ID
		JOIN [DB_SISCOB].[TRANSITO].[tmp_CARTEIRA_VPG]  V ON W.RAIZ_CPF_CNPJ = V.RAIZ
	WHERE W.SEGMENTO_GERENCIA IN ('TOP_PMES') AND W.OK=1