USE [DB_SISCOB]
GO
/****** Object:  StoredProcedure [APP_WEB].[PRC_CENARIO]    Script Date: 11/23/2016 9:50:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



ALTER PROCEDURE [APP_WEB].[PRC_CENARIO_v03] @QUERY NVARCHAR(MAX),  @ANALISTA NVARCHAR(100), @ID_FILE int output
AS
BEGIN

SET NOCOUNT ON


DECLARE @Cmd VARCHAR(500);
DECLARE @SQL NVARCHAR(MAX);	

-- ###################################################################################################################################################################################
-- ###################################################################################################################################################################################
-- [1] -> COPIAR ARQUIVO MODELO 
-- ###################################################################################################################################################################################
-- ###################################################################################################################################################################################

-- #########################
-- SELEÇÃO DO ARQUIVO
-- #########################
	DECLARE @FILE_MODEL_PATH		VARCHAR(1000); SET @FILE_MODEL_PATH		= (SELECT TOP 1 [DESCRICAO] AS 'FILE_MODEL_PATH' FROM [DB_SISCOB].[ADM].[TB_APP_CONTROLE] WHERE [TIPO] = 'CENARIO_FILE_MODEL_PATH');
	DECLARE @FILE_MODEL				VARCHAR(1000); SET @FILE_MODEL			= (SELECT TOP 1 [DESCRICAO] AS 'FILE_MODEL' FROM [DB_SISCOB].[ADM].[TB_APP_CONTROLE] WHERE [TIPO] = 'CENARIO_FILE_MODEL');
	DECLARE @FILE_EXIT				VARCHAR(1000); SET @FILE_EXIT			= (SELECT TOP 1 [DESCRICAO_02] AS 'FILE_EXIT' FROM [DB_SISCOB].[ADM].[TB_APP_CONTROLE] WHERE [TIPO] = 'CENARIO_FILE_MODEL');
	DECLARE @FILE_DOWNLOAD			VARCHAR(1000); SET @FILE_DOWNLOAD		= (SELECT TOP 1 [DESCRICAO] AS 'FILE_DOWNLOAD' FROM [DB_SISCOB].[ADM].[TB_APP_CONTROLE] WHERE [TIPO] = 'CENARIO_DOWNLOAD');

-- ##################################
-- COPIA DE ARQUIVO MODELO
-- ##################################
	SET @Cmd = 'COPY ' + @FILE_MODEL_PATH + @FILE_MODEL + ' ' + @FILE_DOWNLOAD + @ANALISTA+'_'+@FILE_EXIT ;
	PRINT @Cmd  
	EXEC xp_cmdshell @Cmd--,no_output	

-- ###################################################################################################################################################################################
-- ###################################################################################################################################################################################
-- [2] -> CARREGAR DADOS EM ARQUIVO COPIADO
-- ###################################################################################################################################################################################
-- ###################################################################################################################################################################################

-- #########################
-- EXPORTAR DADOS
-- #########################
	
	SET @SQL = 'INSERT INTO OPENROWSET(''Microsoft.ACE.OLEDB.12.0'',''Excel 12.0 Xml;HDR=YES;Database=' + @FILE_DOWNLOAD + @ANALISTA+'_'+@FILE_EXIT  + ''',''SELECT * FROM [Dados$]'') '
	SET @SQL = @SQL + @QUERY 
	PRINT @SQL
	EXEC(@SQL) 

-- ###################################################################################################################################################################################
-- ###################################################################################################################################################################################
-- [3] -> CADASTRA ARQUIVO COM DADOS CARRAGADOS
-- ###################################################################################################################################################################################
-- ###################################################################################################################################################################################


  INSERT INTO [APP_WEB].[TBL_ARQUIVOS_TRANSITO_CENARIOS]
           ([nm_arquivo]
           ,[diretorio]
           )
     VALUES
           (@ANALISTA+'_'+@FILE_EXIT
           ,@FILE_DOWNLOAD
           )
		   	
-- ###################################################################################################################################################################################
-- ###################################################################################################################################################################################
-- [4] -> TRANSFERIR ARQUIVO FINAL
-- ###################################################################################################################################################################################
-- ###################################################################################################################################################################################

-- ##################################
-- TRANSFERENCIA ENTRE SERVIDORES
-- ##################################
	SET @Cmd = 'COPY ' + @FILE_DOWNLOAD + @ANALISTA+'_'+@FILE_EXIT  + ' ' +  @FILE_DOWNLOAD + @ANALISTA+'_'+@FILE_EXIT   ;  
	PRINT @Cmd
	EXEC xp_cmdshell @Cmd,no_output	

	DECLARE @FILE_EXIT_TMP			VARCHAR(1000); SET @FILE_EXIT_TMP		= @ANALISTA + '_' + @FILE_EXIT;
	DECLARE @RETURN_ID_FILE			VARCHAR(1000); SET @RETURN_ID_FILE		= (SELECT TOP 1 [ID] AS 'ID' FROM [DB_SISCOB].[APP_WEB].[TBL_ARQUIVOS_TRANSITO_CENARIOS] WHERE [nm_arquivo] = @FILE_EXIT_TMP ORDER BY [ID] DESC);


	SET @ID_FILE = 10

END

