/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1 [ID]
      ,[ACORDO]
      ,[AGING_ATUAL]
      ,[AGING_ORIGINAL]
      ,[CDCLIENTE]
      ,[CDCONTA]
      ,[CICLO]
      ,[CLASSE]
      ,[CLASSIFICACAO]
      ,[CLASSSERV]
      ,[CLIENTE]
      ,[COD_SERV]
      ,[CONTA]
      ,[CPF_CNPJ]
      ,[DA]
      ,[DOCUMENTO_SAP]
      ,[DT_CADASTRO]
      ,[DTCONTA]
      ,[DTCORTE]
      ,[DTWO]
      ,[EMPRESA]
      ,[FAIXA_ATUAL]
      ,[FAIXA_ORIGINAL]
      ,[FILTRO]
      ,[GRUPO_DE_EMPRESAS]
      ,[ID_CLIENTE]
      ,[IP]
      ,[NMFATURA]
      ,[NRC]
      ,[OPERACAO]
      ,[ORIGEM]
      ,[OVERBILLING]
      ,[PARCEL_PDD]
      ,[PARCELAMENTO]
      ,[PERDA]
      ,[PF_PJ]
      ,[PRODUTO_ORIGEM]
      ,[PROVISAO]
      ,[RAIZ_CPF_CNPJ]
      ,[RECEBIVEL]
      ,[REGI_AGR]
      ,[REGRA_FX_ENT]
      ,[SALDO_CAR]
      ,[SALDO_FX_ENT]
      ,[SALDO_PDD]
      ,[SALDO_TERCEIROS]
      ,[SALDO_WO]
      ,[SEG_CLIENTE]
      ,[SEG_DESCR]
      ,[SERVTERCEIROS]
      ,[TEL]
      ,[TERM_RET_PDD]
      ,[TIPO_CLIENTE]
      ,[TITULO]
      ,[UF]
      ,[VENC_ATUAL]
      ,[VENC_ORIGINAL]
      ,[WO]
      ,[BILLING]
      ,[STATUS]
      ,[NOTA_FISCAL]
      ,[PARCELA]
      ,[DT_PROCESS]
      ,[REGRA_PDD]
      ,[AGING_CORTE]
      ,[FAIXA_CORTE]
      ,[SEG_DESCR_CLASSE]
      ,[DOC_FAT]
      ,[FILIAL]
      ,[LJ_CLI]
      ,[COD_CLI]
	  into  [DB_SISCOB].[TRANSITO].[tmp_TB_CAR_FIXA_IMPORT_v161121_1218]
  FROM [DB_SISCOB].[FILE_CAR].[TB_CAR_FIXA_IMPORT]

  select * from [DB_SISCOB].[TRANSITO].[tmp_TB_CAR_FIXA_IMPORT_v161121_1218]

  --truncate table [DB_SISCOB].[TRANSITO].[tmp_TB_CAR_FIXA_IMPORT_v161121_1218]

   SET IDENTITY_INSERT [DB_SISCOB].[TRANSITO].[tmp_TB_CAR_FIXA_IMPORT_v161121_1218] off

BULK INSERT [DB_SISCOB].[TRANSITO].[tmp_TB_CAR_FIXA_IMPORT_v161121_1218]
FROM 'Z:\_siscob\_TRANSITO\161121\TB_CAR_FIXA_IMPORT\TB_CAR_FIXA_IMPORT.TXT'
WITH
(
FIRSTROW = 1,
FIELDTERMINATOR = ';',  --CSV field delimiter
ROWTERMINATOR = '\n',   --Use to shift the control to next row
TABLOCK
)