DECLARE @ANALISTA AS VARCHAR(50); SET @ANALISTA = 'jucilene';SELECT * FROM [DB_SISCOB].[APP_WEB].[TBL_USUARIOS] WHERE FNAME LIKE '%'+ @ANALISTA +'%';
DECLARE @RAIZ_GRUPO AS VARCHAR(50); SET @RAIZ_GRUPO = '4045276128';

/****** CARTEIRAS  ******/
--SELECT *  FROM [DB_SISCOB].[AUXILIAR].[TB_ANALISTA_CARTEIRA_FIXA] where RAIZ_GRUPO=@RAIZ_GRUPO
--SELECT *  FROM [DB_SISCOB].[AUXILIAR].[TB_ANALISTA_CARTEIRA_MOVEL] where RAIZ_GRUPO=@RAIZ_GRUPO


/****** CENARIO - CONSUMO DO ANALISTA ******/
--SELECT count(*), sum([SALDO_ATUAL]) as SALDO_ATUAL ,sum(SALDO_CAR_05) as SALDO_CAR_05 FROM [DB_SISCOB].[APP_EXCEL].[VW_CONSUMO_CONSOLIDADO_ANALISTA] WHERE RAIZ_GRUPO =@RAIZ_GRUPO and (NOME_ANALISTA  IS NOT NULL OR NOME_ANALISTA_TMP IS NOT NULL)
--SELECT sum([SALDO_ATUAL]) as SALDO_ATUAL ,sum(SALDO_CAR_05) as SALDO_CAR_05 FROM [APP_EXCEL].[VW_CONSUMO_CONSOLIDADO_ANALISTA] WHERE RAIZ_GRUPO =@RAIZ_GRUPO  and (NOME_ANALISTA  IS NOT NULL OR NOME_ANALISTA_TMP IS NOT NULL)
  
/****** ACORDOS - CONSULTA DE ACORDOS POR  'RAIZ_GRUPO' ******/
SELECT distinct NOME_ANALISTA FROM [DB_SISCOB].[APP_EXCEL].[VW_CONSUMO_CONSOLIDADO_ACORDO_COM_FILTROS] WHERE RAIZ_GRUPO =@RAIZ_GRUPO and (NOME_ANALISTA  IS NOT NULL OR NOME_ANALISTA_TMP IS NOT NULL)
--SELECT count(*), sum([SALDO_ATUAL]) as SALDO_ATUAL ,sum(SALDO_CAR_05) as SALDO_CAR_05 FROM [DB_SISCOB].[APP_EXCEL].[VW_CONSUMO_CONSOLIDADO_ACORDO_COM_FILTROS] WHERE RAIZ_GRUPO =@RAIZ_GRUPO and (NOME_ANALISTA  IS NOT NULL OR NOME_ANALISTA_TMP IS NOT NULL)
--SELECT sum([SALDO_ATUAL]) as SALDO_ATUAL ,sum(SALDO_CAR_05) as SALDO_CAR_05 FROM [DB_SISCOB].[APP_EXCEL].[VW_CONSUMO_CONSOLIDADO_ACORDO_COM_FILTROS] WHERE RAIZ_GRUPO =@RAIZ_GRUPO  and (NOME_ANALISTA  IS NOT NULL OR NOME_ANALISTA_TMP IS NOT NULL)




--#####################################################################
--#####################################################################
--#####################################################################

/****** CONTROLE DE APLICAÇÕES  ******/

INSERT INTO [DB_SISCOB].[ADM].[TB_APP_CONTROLE]
(
    [TIPO]
    ,[DESCRICAO]
    ,[DESCRICAO_02]  
	,[DTSUBIDA]
)

SELECT replace([TIPO],'5','6')
    ,replace([DESCRICAO],'5','6')
	,replace([DESCRICAO_02],'5','6')
	,GETDATE()
FROM [DB_SISCOB].[ADM].[TB_APP_CONTROLE]
where tipo like '%CENARIO_FILE_MODEL_v05%'
order by id desc;

select * 
FROM [DB_SISCOB].[ADM].[TB_APP_CONTROLE]
where tipo like '%foco%'
order by id desc;

update  [DB_SISCOB].[ADM].[TB_APP_CONTROLE]
set [DESCRICAO_02] = 'CENARIO_v06.xlsm'
where id = 160

  
  insert into [DB_SISCOB].[ADM].[TB_APP_CONTROLE] (tipo,DESCRICAO)
  SELECT TOP 1 tipo,'Z:\_siscob\bin\app\7-ZipPortable\App\7-Zip64\7zG.exe' FROM [DB_SISCOB].[ADM].[TB_APP_CONTROLE] where tipo = 'APP_COMPACT' ORDER BY ID DESC


SELECT * FROM [APP_EXCEL].[VW_CONSUMO_CONSOLIDADO_ANALISTA] WHERE RAIZ_GRUPO = '@p_RAIZ_GRUPO'  and (NOME_ANALISTA  IS NOT NULL OR NOME_ANALISTA_TMP IS NOT NULL) 


--/****** ACORDOS - ULTIMO ARQUIVO GERADO  ******/
--SELECT TOP 1 [NM_ARQUIVO],[DIRETORIO],[QUERY_RESUMO] FROM [DB_SISCOB].[APP_WEB].[TBL_ARQUIVOS_TRANSITO_ACORDOS] ORDER BY ID DESC
--SELECT TOP 1 [NM_ARQUIVO],[DIRETORIO],[QUERY_RESUMO] FROM [DB_SISCOB].[APP_WEB].[TBL_ARQUIVOS_TRANSITO_CENARIOS] ORDER BY ID DESC

--SELECT TOP 1 [DESCRICAO] FROM [DB_SISCOB].[ADM].[TB_APP_CONTROLE] where tipo = 'APP_COMPACT' ORDER BY ID DESC


--SELECT TOP 1 (SELECT TOP 1 [DESCRICAO] FROM [DB_SISCOB].[ADM].[TB_APP_CONTROLE] where tipo = 'APP_COMPACT' ORDER BY ID DESC) AS APP, [NM_ARQUIVO],[DIRETORIO],[QUERY_RESUMO] FROM [DB_SISCOB].[APP_WEB].[TBL_ARQUIVOS_TRANSITO_ACORDOS] WHERE [ID_ANALISTA] = 98 ORDER BY ID DESC

SELECT COUNT(*) FROM [APP_EXCEL].[VW_CONSUMO_CONSOLIDADO_ANALISTA] WHERE RAIZ_GRUPO = '4061074175'  and (NOME_ANALISTA  IS NOT NULL OR NOME_ANALISTA_TMP IS NOT NULL) 



--/****** PRC_CENARIO  ******/
--DECLARE	@PRC_CENARIO int
--EXEC	@PRC_CENARIO = [APP_WEB].[PRC_CENARIO]
--		@QUERY_WHERE = N'''''',
--		@ANALISTA = N'51',
--		@RAIZ_GRUPO = N'02613026',
--		@GERAR_EMAIL = N''''''

--SELECT	'Return Value' = @PRC_CENARIO

/****** PRC_ACORDO  ******/
DECLARE	@PRC_ACORDO int
EXEC	@PRC_ACORDO = [APP_WEB].[PRC_ACORDOS]
		@ANALISTA = N'57',
		@RAIZ_GRUPO = N'4061074175',
		@FILTRO = N''

SELECT	'Return Value' = @PRC_ACORDO

select TOP 1 * FROM [DB_SISCOB].[APP_WEB].[TBL_ARQUIVOS_TRANSITO_ACORDOS] WHERE [ID_ANALISTA] = 98 ORDER BY ID DESC
SELECT count(*) FROM [APP_EXCEL].[VW_CONSUMO_CONSOLIDADO_ACORDO_COM_FILTROS] WHERE (NOME_ANALISTA  IS NOT NULL OR NOME_ANALISTA_TMP IS NOT NULL) AND RAIZ_GRUPO = '4004543079'  and ANOMES in ('012017','022017','032017','042016','092016','102016','112016','122016') 

SELECT count(*) FROM [APP_EXCEL].[VW_CONSUMO_CONSOLIDADO_ANALISTA] WHERE RAIZ_GRUPO = '4061074175'  and (NOME_ANALISTA  IS NOT NULL OR NOME_ANALISTA_TMP IS NOT NULL) 

update t
set query_resumo='SELECT * FROM [APP_EXCEL].[VW_CONSUMO_CONSOLIDADO_ACORDO_COM_FILTROS] WHERE (NOME_ANALISTA  IS NOT NULL OR NOME_ANALISTA_TMP IS NOT NULL) AND RAIZ_GRUPO = ''4004543079''  and ANOMES in (''012017'',''022017'',''032017'',''042016'',''092016'',''102016'',''112016'',''122016'') '
FROM [DB_SISCOB].[APP_WEB].[TBL_ARQUIVOS_TRANSITO_ACORDOS] t 
where id=810


select *
FROM [DB_SISCOB].[APP_WEB].[TBL_ARQUIVOS_TRANSITO_ACORDOS] t 
where id=810


