/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1 [ID]
      ,[ID_CONSOLIDADO]
      ,[ID_SEMANA]
      ,[ID_FOCO_FEEDBACK]
      ,[ID_TIPO_PAGAMENTO]
      ,[ID_ANALISTA]
      ,[TIME_STAMP]
      ,[DT_FOLLOW]
      ,[DT_CONTATO]
      ,[DT_ENCERRAMENTO]
      ,[DT_ABERTURA]
      ,[DT_AJUSTE]
      ,[DT_PAGAMENTO]
      ,[VALOR_PAGO]
      ,[VALOR_AJUSTE]
      ,[LOTE]
      ,[GESTAO_CONTA]
      ,[RESPONSAVEL]
      ,[RESUMO_EXECUTIVO]
      ,[HISTORICO_DETALHADO]
      ,[STATUS]

	  into [DB_SISCOB].[TRANSITO].[tmp_HISTORICO_FALTANTES_RESULTADO_0236]
  FROM [DB_SISCOB].[TRANSITO].[tmp_TB_HISTORICO_v161121_1815]

select * from [DB_SISCOB].[TRANSITO].[tmp_HISTORICO_FALTANTES_RESULTADO_0236]
--truncate table [DB_SISCOB].[TRANSITO].[tmp_HISTORICO_FALTANTES_RESULTADO_0236]


BULK INSERT [DB_SISCOB].[TRANSITO].[tmp_HISTORICO_FALTANTES_RESULTADO_0236]
FROM 'Z:\_siscob\_TRANSITO\161122\HISTORICO_FALTANTES_RESULTADO_0236\HISTORICO_FALTANTES_RESULTADO_0236.TXT'
WITH
(
	FIRSTROW = 1,
	FIELDTERMINATOR = ';',  --CSV field delimiter
	ROWTERMINATOR = '\n',   --Use to shift the control to next row
	TABLOCK
)



