USE [DB_SISCOB]
GO

DECLARE	@return_value int

EXEC	@return_value = [APP_WEB].[PRC_ACORDO]
		@ANALISTA = N'94',
		@RAIZ_GRUPO = N'4033000167',
		@FILTRO = N' and id_tipo in (3,5,7,9)'

SELECT	'Return Value' = @return_value

GO


SELECT TOP 1 * FROM [APP_WEB].[TBL_ARQUIVOS_TRANSITO_ACORDOS] WHERE ID_ANALISTA = 94 ORDER BY ID DESC


SELECT * FROM [APP_EXCEL].[VW_CONSUMO_CONSOLIDADO_ANALISTA] WHERE RAIZ_GRUPO = '4033000167'  and (NOME_ANALISTA  IS NOT NULL OR NOME_ANALISTA_TMP IS NOT NULL) ' and id_tipo in (3,5,7,9)'

SELECT * FROM [APP_EXCEL].[VW_CONSUMO_CONSOLIDADO_ANALISTA] WHERE RAIZ_GRUPO = '4033000167'  and (NOME_ANALISTA  IS NOT NULL OR NOME_ANALISTA_TMP IS NOT NULL)  and id_tipo in (3,5,7,9)